html {
  /* 
   * Nord Theme https://www.nordtheme.com/docs/colors-and-palettes 
   */
  --nord-polar-night-1: hsl(220, 16%, 22%);
  --nord-polar-night-2: hsl(222, 16%, 28%);
  --nord-polar-night-3: hsl(220, 17%, 32%);
  --nord-polar-night-4: hsl(220, 16%, 36%);

  --nord-snow-storm-1: hsl(219, 28%, 88%);
  --nord-snow-storm-2: hsl(218, 27%, 92%);
  --nord-snow-storm-3: hsl(218, 27%, 94%);

  --nord-frost-1: hsl(179, 25%, 65%);
  --nord-frost-2: hsl(193, 43%, 67%);
  --nord-frost-3: hsl(210, 34%, 63%);
  --nord-frost-4: hsl(213, 32%, 52%);

  --nord-aurora-red: hsl(354, 42%, 56%);
  --nord-aurora-orange: hsl(14, 51%, 63%);
  --nord-aurora-yellow: hsl(40, 71%, 73%);
  --nord-aurora-green: hsl(92, 28%, 65%);
  --nord-aurora-purple: hsl(311, 20%, 63%);

  /* 
   * Fonts 
   */
  --font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-color: var(--nord-snow-storm-2);

  --font-size-0: 0.75rem;
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.125rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 1.5rem;
  --font-size-6: 1.875rem;
  --font-size-7: 2.25rem;
  --font-size-8: 3rem;
  --font-size-9: 3.75rem;
  --font-size-10: 4.5rem;

  font-size: 16px;
  font-family: var(--font-family);
  color: var(--font-color);

  /*
   * Spacing
   */
  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-6: 3rem;
  --spacing-7: 4rem;
  --spacing-8: 6rem;
  --spacing-9: 8rem;
  --spacing-10: 12em;
  --spacing-11: 16em;
  --spacing-11: 24em;
  --spacing-12: 32em;
  --spacing-13: 40em;
  --spacing-14: 48em;

  /* 
   * Background 
   */
  --background-color: var(--nord-polar-night-1);
  background-color: var(--background-color);
}

body {
  font-size: var(--font-size-2);

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  --footer-height: var(--spacing-6);
}

.main {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
}

.header {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-5);
}

.field__label {
  font-size: var(--font-size-4);
  margin-bottom: var(--spacing-0);
  font-weight: bold;
}

.field__input {
  background-color: var(--nord-polar-night-3);
  color: var(--nord-snow-storm-1);
  border: 0.125rem solid var(--nord-polar-night-4);
  border-radius: 0.125rem;
  padding: var(--spacing-2);
  outline: none;
  font-size: var(--font-size-2);
}

.field__input:hover {
  border-color: var(--nord-frost-2);
}

.field__input:focus {
  border-color: var(--nord-frost-2);
  box-shadow: 0px 0px 0.125rem 0.125rem hsl(193, 43%, 67%, 0.35);
}

.field--invalid .field__input {
  box-shadow: none;
  border-color: var(--nord-aurora-red);
}

.field--invalid .field__input:focus {
  box-shadow: 0px 0px 0.125rem 0.125rem hsl(354, 42%, 56%, 0.35);
}

.field__feedback {
  margin: 0;
  margin-top: var(--spacing-0);
}

.field--invalid .field__feedback {
  color: var(--nord-aurora-red);
}

.button {
  background-color: var(--nord-frost-4);
  cursor: pointer;
  padding: var(--spacing-1);
  border: none;
  color: var(--nord-snow-storm-1);
  border: 0.125rem solid var(--nord-polar-night-4);
  border-radius: 0.125rem;
  width: 100%;
  font-size: var(--font-size-4);
  margin-bottom: 0.25rem;
}

.button--danger {
  background-color: var(--nord-aurora-red);
}

.button:hover {
  border-color: var(--nord-frost-2);
}

.button:active {
  box-shadow: 0px 0px 0.125rem 0.125rem hsl(193, 43%, 67%, 0.35);
}

.search-error {
  font-size: var(--font-size-3);
  color: var(--nord-aurora-red);
}

.forecasts {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.forecast {
  margin-bottom: var(--spacing-2);
}

.forecast:last-child {
  margin-bottom: 0;
}

.info {
  display: flex;
  font-size: var(--font-size-4);
}

.info__label {
  font-weight: bold;
  margin-right: var(--spacing-0);
}

.info__label::after {
  content: ":";
}
